<mat-card class="card-top">

    <mat-card-content class="card-content">

        <mat-card class="card-top card-layer">
            <mat-card-header>       
            <mat-card-title>Project Design and Development</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <h4>P&ID's - Review Project Drawing</h4>
                <h4>Functional Specifications / Sequencer Charts - Review Project Documentation</h4>
                <h4>IO Assignment - Review IO excel spreadsheet </h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-top card-layer">
            <mat-card-header>       
            <mat-card-title>PLC Development</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <h4>Create and configure required modules</h4>
                <h4>Create required Controller Tags</h4>
                <h4>Create required programs and routines</h4>
                <h4>Create logic based on Functional Specification</h4>
            </mat-card-content>
        </mat-card>

        <mat-card class="card-top card-layer">
            <mat-card-header>       
            <mat-card-title>HMI Development</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <h4>Create and configure a new Project instance along with the associated Suite-Links Clients, followed by configuring OI Server within the SMC (System Management Console)</h4>
                <h4>Create a new HMI Screen. Add graphics based on project drawing and insert tag references as needed</h4>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
