<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">HPN Training Course</h1>
    </div>   
    <p>Build a fullstack industrial automation application using RSLogix 5000 and System Platform 
        with this project-focused course!</p>
</div>

<div class="container pt-3">
    <h2>What You'll Learn!</h2>
    <div class="row">
        <mat-card class="col-lg homecard">
            <i mat-card-image class="material-icons md-84 text-center">settings</i>
            <mat-card-header>
            
              <mat-card-title>PLC</mat-card-title>
            </mat-card-header>
            <mat-card-content class="homecardcontent">
                <ul  class="no_bullet">
                    <li>Getting Started with FactoryTalk® AssetCentre</li>
                    <li>Introduction to FactoryTalk AssetCentre Archive</li>
                    <li>Introduction to FactoryTalk AssetCentre Disaster Recovery</li>
                    <li>Introduction to FactoryTalk AssetCentre Diagnostics</li>
                    <li>Introduction to FactoryTalk Security</li>
                    <li>Rehosting FactoryTalk Activations</li>
                    <li>How to Activate Your Rockwell Software</li>
                    <li>How to install and Update Drive AOP Files</li>
                    <li>PLC Sequencer Programming</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-lg homecard">
            <i mat-card-image class="material-icons md-84 text-center">desktop_windows</i>
            <mat-card-header>
              <mat-card-title>HMI</mat-card-title>
            </mat-card-header>
            <mat-card-content class="homecardcontent">
                <ul class="no_bullet">
                    <li>System Platform for InTouch Users</li>
                    <li>What is ArchestrA System Platform?</li>
                    <li>System Platform Device Integration</li>
                    <li>Wonderware Operations Integration Servers</li>
                    <li>Alarm Aggregation</li>
                    <li>Situational Awareness Design Elements</li>
                    <li>Situational Awareness Actionable Alarm Management</li>
                    <li>Trend Usage</li>
                    <li>Dashboard Tools</li>
                    <li>Using Symbol Wizards</li>
                    <li>Leveraging Historical Data</li>
                    <li>Actionable Alarming Revisited</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-lg homecard">
            <i mat-card-image class="material-icons md-84 text-center">build</i>
            <mat-card-header>
              <mat-card-title>Course Project</mat-card-title>
            </mat-card-header>
            <mat-card-content class="homecardcontent">
                <ul  class="no_bullet">
                    <li>Use P&IDs, functional specifications, and sequencer charts to deseign and develop functioning project</li>
                    <li>Create and configure required modules</li>
                    <li>Create required Controller Tags</li>
                    <li>Create required programs and routines</li>
                    <li>Create logic based on Functional Specification</li>
                    <li>Create and configure a new Project instance along with the associated Suite-Links Clients</li>
                    <li>Configure OI Server within the SMC (System Management Console)</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
